* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {font-family: "heavy_data"; src:url("./public/assets/fonts/heavy-data/heavy_data.ttf") format("truetype"); font-weight:lighter; font-style: normal;
}

@font-face {font-family: 'SF Pixelate', sans-serif; src:url("./public/assets/fonts/pixelate/SF-Pixelate.ttf") format("truetype"); font-weight:lighter; font-style: normal;
}



                

:root {

  --rtc--font-family-1: Arial, Helvetica, sans-serif;
  --rtc--font-family-2: "heavy_data";
  --rtc--font-family-3: 'SF Pixelate', sans-serif;

  --rtc--color-1: hsl(203, 75%, 44%);
  --rtc--color-2: hsl(6, 74%, 62%);
  --rtc--color-3: hsl(178, 63%, 38%);
  --rtc--color-4: hsla(178, 63%, 70%, 0.711);
  --rtc--color-5: hsl(6, 65%, 65%);
  --rtc--color-6: hsla(203, 45%, 56%, 0.832);
  --rtc--color-almostBlack: rgb(34, 34, 37);


  --rtc--font-size-xxxl: 150px;
  --rtc--font-size-xxl: 80px
  --rtc--font-size-xl: 30px;
  --rtc--font-size-l: 24px;
  --rtc--font-size-m: 18px;
  --rtc--font-size-ms: 14px;
  --rtc--font-size-s: 12px;
  --rtc--font-size-xs: 10px;


  --rtc--padding-l: 30px;
  --rtc--padding-m: 20px;
  --rtc--padding-s: 10px;

  --rtc--gap-l: 10px;
  --rtc--gap-m: 6px;
  --rtc--gap-s: 3px;
}

html {
  max-width: 100%;
  height: 100svh;
}

/*  ------------  ATENDER AL OVERFLOW CUANDO AÑADA COSAS ABAJO ----- */
body {
  overflow: hidden;
}


h1 {
  width: 100%;
  font-family: var(--rtc--font-family-2);
  font-size: 50px;
  padding: var(--rtc--padding-s);
  color: aliceblue;

}

h4 {
  color: aliceblue;
  font-size: 15px;
  font-weight: 100;
}


#headerDiv {
  width: 100%;
  height: 15svh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: var(--rtc--padding-m);
  position: fixed;
  z-index: 1;

}

#gamesDiv {
  overflow: auto;
  position: absolute;
  top: 110px;
  z-index: 1;
  width: 100%; 
  height: 82svh;
  display: flex;
  justify-content: space-around;
  gap: var(--rtc--gap-l);
  padding: 100px;
  /*border: 3px solid black;*/
  
}

#game1, #game2, #game3  {
  width: 30%;
  height:100%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: var(--rtc--padding-m);
  
}

#game1 {
  border: 1px solid var(--rtc--color-1); 
  box-shadow: 0 0 5px hsl(203, 75%, 44%), 0 0 15px hsl(203, 75%, 44%), 0 0 25px hsl(203, 75%, 44%), 0 0 100px hsl(203, 75%, 44%);
}
#game2 {
  border: 1px solid var(--rtc--color-2);
  box-shadow: 0 0 5px hsl(6, 74%, 62%), 0 0 15px hsl(6, 74%, 62%), 0 0 25px hsl(6, 74%, 62%), 0 0 100px hsl(6, 74%, 62%);
}

#game3 {
  border: 1px solid var(--rtc--color-3);
  box-shadow: 0 0 5px hsl(178, 63%, 38%), 0 0 15px hsl(178, 63%, 38%), 0 0 25px hsl(178, 63%, 38%), 0 0 100px hsl(178, 63%, 38%);
}

/*
#game3 {
  position: relative;
  top: 29px;
}
*/

.logo1, .logo2, .logo3 {
  width: 90%;
  object-fit: contain;
  filter:grayscale(40%);
}

.logo1:hover, .logo2:hover, .logo3:hover {
  cursor: pointer;
  filter: grayscale(0%);
  
}


#footerDiv {
  width: 100%;
  height: 7svh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--rtc--padding-m);
  position: fixed;
  z-index: 0;
  bottom: 0;
 
}






@media screen and (max-width: 480px) {

  h1 {
    font-size: 25px;
  }

  h4 {
    font-size: 8px;
  }

  #headerDiv {
    height: 5svh;
    padding: var(--rtc--padding-s);
  }

  #gamesDiv {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    top:3em;
    height: 87svh;
    gap: 43px;
    padding: 10px;
  }

  #game1, #game2, #game3 {
    width: 70%;
    height: 140px;
    padding: 15px;
  }


  .logo1, .logo2, .logo3 {
    width: 100%;
    object-fit: contain;
  }

  #footerDiv {
    height: 30px;
    position: fixed;
    z-index: 1;
    background-color: black;
    padding: var(--rtc--padding-s);
  }
}


@media screen and (min-width: 481px) and (max-width:768px){

  h1 {
    font-size: 35px;
  }

  h4 {
    font-size: 10px;
  }

  #headerDiv {
    height: 8svh;
    padding: var(--rtc--padding-s);
  }

  #gamesDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: baseline;
    align-items: center;
    top: 5em;
    height: 86svh;
    gap: 40px;
    padding: 20px;
  }

  #game1, #game2, #game3 {
    width: 70%;
    height: 200px;
  }
  .logo1, .logo2, .logo3 {
    width: 100%;
    object-fit: contain;
  }

  #footerDiv {
    height: 5svh;
    position: fixed;
    z-index: 0;
    padding: var(--rtc--padding-s);
  }
}



@media screen and (min-width: 769px) and (max-width:1023px){

  h1 {
    font-size: 40px;
  }

  h4 {
    font-size: 11px;
  }

  #headerDiv {
    height: 9svh;
    padding: var(--rtc--padding-s);
  }

  #gamesDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    top: 5.5em;
    height: 84svh;
    gap: 20px;
    padding: 30px ;
  }

  #game1, #game2, #game3 {
    width: 40%;
    height: 300px;
  }

  #footerDiv {
    height: 6svh;
    position: fixed;
    z-index: 0;
    padding: var(--rtc--padding-s);
  }

}

@media screen and (min-width:1024px) and (max-width:1279px) {

  h1 {
    font-size: 45px;
    }
  
    h4 {
      font-size: 14px;
    }
  
  
    #headerDiv {
      display: flex;
      justify-content: center;
      height: 7svh;
    }
  
    #gamesDiv {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content:space-around;
      align-items: center;
      top: 5em;
      height: 84svh;
      gap: 20px;
      padding: 20px 40px;
      
    }

    #game1, #game2, #game3 {
      width: 40%;
      height: 270px;
    }
  
    .logo1, .logo2, .logo3 {
      width: 95%;
      object-fit: contain;
    }

    #footerDiv {
      height: 5svh;
      position: fixed;
      z-index: 0;
      padding: var(--rtc--padding-s);
    }
}



@media screen and (min-width:1280px) and (max-width:1439px) {

  h1 {
  font-size: 40px;
  }

  h4 {
    font-size: 14px;
  }

  #headerDiv {
    height: 10svh;
  }

  #gamesDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5em;
    height: 80svh;
    gap: 60px;
    padding: 20px 40px;
    
  }

  #game1, #game2, #game3 {
    width: 100%;
    height: 320px;
  }

  .logo1, .logo2, .logo3 {
    width: 85%;
    object-fit: contain;
  }

  #footerDiv {
    height: 8svh;
    position: fixed;
    z-index: 0;
    padding: var(--rtc--padding-s);
  }

}