

#backButton {
    position: absolute;
    top: 1em;
    font-family: var(--rtc--font-family-2);
    font-size: 18px;
    padding: 18px 30px;
    border-radius: 10px;
    border: none;
}

#backButton:hover {

    cursor: pointer;

}



@media screen and (min-width:1280px) and (max-width:1439px) {
  
    #backButton {
        font-size: 16px;
        position: absolute;
        top: 6em;
    }
  
  }