

#backButton {
    position: absolute;
    top: 1em;
    font-family: var(--rtc--font-family-2);
    font-size: 18px;
    padding: 18px 30px;
    border-radius: 10px;
    border: none;
}

#backButton:hover {

    cursor: pointer;

}


@media screen and (max-width: 480px) {

    #backButton {
        font-size: 12px;
        position: absolute;
        padding: 12px 10px;
        top: 0em;
    }

}
  
  
@media screen and (min-width: 481px) and (max-width:768px){

    #backButton {
        font-size: 14px;
        position: absolute;
        padding: 14px 12px;
        top: 1em;
    }
  
}
  
  
  
@media screen and (min-width: 769px) and (max-width:1023px){
  
    #backButton {
        font-size: 16px;
        position: absolute;
        padding: 16px 14px;
        top: 2.5em;
    }
    
  
}
  
@media screen and (min-width:1024px) and (max-width:1279px) {
  
   
  
      
}
  
  


@media screen and (min-width:1280px) and (max-width:1439px) {
  
    #backButton {
        font-size: 16px;
        position: absolute;
        top: 6em;
    }
  
  }