#memoryGameDiv {
    width: 90%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:var(--rtc--color-3);  
}

#divPoints {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#pointsSpan {
    font-size: 40px;
    padding: 10px;
    font-family: var(--rtc--font-family-2);
    color:var(--rtc--color-softPink);
}

.selectDiv {
    width: 20%;
    background-color: var(--rtc--color-softPink);
    border-radius: 5px;
    height: auto;
}

#divCards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    background-color: var(--rtc--color-softPink);
}


.divCard {
    width: 160px;
    height: 240px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
    background-color: var(--rtc--color-6);
    background-image: url("https://www.transparenttextures.com/patterns/argyle.png");

}

#pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}



@media screen and (max-width: 480px) {
    
    #memoryGameDiv {
        top: 3em;
        gap: 0px;
        padding: 10px 10px 20px;
    }

    #pointsSpan {
        font-family: var(--rtc--font-family-2);
        font-size: 20px;
    }

    #divPoints {
        padding: 5px 5px 15px;
        height: 25px;
    }

    #divCards {
        gap: 5px;
        padding: 10px 5px 10px 5px;
    }

    
    .divCard {
        width: 68px;
        height: 100px;
    }
}


    



@media screen and (min-width: 481px) and (max-width:768px){

    #memoryGameDiv {
        top: 4em;
        gap: 0px;
    }

    #divPoints {
        width: 100%;
        height: 30px;
        padding-bottom: 15px;
    }

    #pointsSpan {
        padding: 5px;
        font-family: var(--rtc--font-family-2);
        font-size: 25px;
    }


    #divCards {
        justify-content: space-evenly;
        gap: 5px;
        padding: 10px;
        
    }
    
    .divCard {
        width: 100px;
        height: 150px;
    }
  }
  
  
  
@media screen and (min-width: 769px) and (max-width:1023px){

    #memoryGameDiv {
        top: 5em;
        gap: 0px;
    }

    #divPoints {
        width: 100%;
        height: 30px;
        padding-bottom: 15px;
    }

    #pointsSpan {
        padding: 5px;
        font-family: var(--rtc--font-family-2);
        font-size: 25px;
    }
  
    #divCards {
        justify-content: center;
        gap: 10px;
        padding: 10px 5px;
    }
    
    .divCard {
        width: 90px;
        height: 130px;
    }
  
}


  
@media screen and (min-width:1024px) and (max-width:1279px) {

    #memoryGameDiv {
        top: 3.5em;
        gap: 0px;
    }

    #divCards {
        justify-content: center;
        gap: 10px;
        padding: 10px 5px;
    }
  
    .divCard {
        width: 105px;
        height: 175px;
    }

}
  
  
  
@media screen and (min-width:1280px)and (max-width:1439px)  {

    #memoryGameDiv {
        top: 2.5em;
        gap: 0px;
    }

    .divCard {
        width: 110px;
        height:180px;
    }
  
}


@media screen and (min-width:1440px)and (max-width:1919px)  {
    
    .divCard {
        width: 120px;
        height: 200px;
    }

}