
#guessWhoDiv {
    width: 95%;
    height: auto;
    position: absolute;
    top: 7em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding: 10px 10px 30px;
    background-color: var(--rtc--color-softPink);
    
}

.people {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 5px 10px 5px;
    background-color: var(--rtc--color-softPink);
}


#atributtes {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 15px 20px;
    background-color: var(--rtc--color-3);
}

#atributtes > button {
    border-radius: 10px;
    width: 70px;
    height: 70px;
    border: none;
    background-color: white;
    box-shadow: 9px 7px 5px 3px rgb(134, 79, 87);

}

#atributtes > button > img {
    width: 100%;
    object-fit: cover;
    padding: 10px;
}

#atributtes > button:hover {
    cursor: pointer;
}


.divWinner > img {
    width: 10%;
}

.divWinnerParagraph {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: var(--rtc--font-family-2);
    font-size: 20px;
}

#backButton {
    position: absolute;
    left: 6em;
    top: 1em;
    font-family: var(--rtc--font-family-2);
    font-size: 18px;
    padding: 18px 30px;
    border-radius: 10px;
    border: none;
}

.backToGameButton {
    position: absolute;
    right: 6em;
    top: 1em;
    font-family: var(--rtc--font-family-2);
    font-size: 18px;
    padding: 18px 30px;
    border-radius: 10px;
    border: none;
}

#backButton:hover, .backToGameButton:hover {
    cursor: pointer;
}

#intentos {
    position: absolute;
    top: 2em;
    font-family: var(--rtc--font-family-2);
    color: black;
    background-color: var(--rtc--color-softPink);
    letter-spacing: 2px;
    font-size: 18px;
    padding: 8px 18px;
    border-radius: 10px;
    border: none;
}






@media screen and (max-width: 480px) {


    #guessWhoDiv {
        width: 95%;
        top: 3em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        align-content: center;
        padding: 5px 5px 30px;
        gap: 10px;
        
    }

    .people {
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        padding: 5px;
        gap: 3px;
    }

    .people > div {
        width: 18%;
    }

    .people > div > img {
        width: 100%;
    }

    #atributtes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    #atributtes > button {
        width: 30px;
        height: 30px;
        box-shadow:  3px 5px 3px rgb(134, 79, 87)
    }

    #atributtes > button > img {
        width: 100%;
        height: 100%;
        padding: 3px;
        object-fit: contain;
    }
   

    #backButton {
        font-size: 10px;
        left: 20px;
        position: absolute;
        padding: 8px;
        top: 1em;
    }

    .backToGameButton {
        position: absolute;
        right: 20px;
        top: 1em;
        font-size: 10px;
        padding: 8px;
    }


    .divWinner > img {
        width: 40%;
        padding: 10px 10px 20px;
    }

    .divWinnerParagraph {
        font-size: 12px;
        padding: 20px 10px 10px;
    }

    #intentos {
        top: 1.5em;
        left: 15em;
        font-size: 8px;
        padding: 8px 10px;
    }

}
  
  
@media screen and (min-width: 481px) and (max-width:768px){

    #guessWhoDiv {
        width: 95%;
        top: 3.5em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
        align-content: center;
        padding: 5px 5px 30px;
        gap: 10px;
        
    }

    .people {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        gap: 5px;
        padding: 15px 5px;
    }

    .people > div {
        width: 100px;
    }

    .people > div > img {
        width: 100%;
    }

    #atributtes {
        width: 95%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        padding: 15px 10px;
    }

    #atributtes > button {
        width: 47px;
        height: 47px;
        box-shadow: 7px 5px 5px 3px rgb(134, 79, 87);
    }
   

    #backButton {
        font-size: 12px;
        position: absolute;
        padding: 10px 8px;
        top: 1em;
        left: 2em;
    }

    .backToGameButton {
        position: absolute;
        right: 2em;
        top: 1em;
        font-size: 12px;
        padding: 10px 8px;
        
    }

    .divWinner > img {
        width: 30%;
        padding: 10px 10px 20px;
    }

    .divWinnerParagraph {
        font-size: 18px;
        padding: 20px 10px 10px;
    }

    #intentos {
        top: 3em;
        font-size: 12px;
        padding: 8px 16px;
    }
  
}
  
  
  
@media screen and (min-width: 769px) and (max-width:1023px){

    #guessWhoDiv {
        width: 95%;
        top: 5em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        align-content: center;
        padding: 5px 5px 30px;
        gap: 10px;
        
    }

    .people {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        gap: 10px;
        padding: 10px 5px;
    }

    .people > div {
        width: 93px;
    }

    .people > div > img {
        width: 100%;
    }

    #atributtes {
        width: 95%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        padding: 20px;
    }

    #atributtes > button {
        width: 55px;
        height: 55px;
        box-shadow: 6px 4px 5px 3px rgb(134, 79, 87);
    }
   

    #backButton {
        font-size: 16px;
        position: absolute;
        padding: 16px 14px;
        top: 1em;
        left: 20px;
    }

    .backToGameButton {
        position: absolute;
        right: 2em;
        top: 1em;
        font-size: 16px;
        padding: 16px 20px;
        
    }

    .divWinner > img {
        width: 15%;
        padding: 10px 10px 20px;
    }

    .divWinnerParagraph {
        font-size: 18px;
        padding: 20px 10px 10px;
    }

    #intentos {
        font-size: 16px;
    }
  
  
}
  
    
  

  
@media screen and (min-width:1024px) and (max-width:1279px) {
  
    #guessWhoDiv {
        width: 95%;
        height: auto;
        position: absolute;
        top: 5em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
        padding: 0px 0px 30px;
        
    }
    
    .people {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px 20px 10px 20px;
    }

    .people > div {
        width: 90px;
    }

    .people > div > img {
        width: 100%;
    }
    
    #atributtes {
        width: 95%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        padding: 10px 5px 20px 5px;
       
    }
    
    #atributtes > button {
        width: 55px;
        height: 55px;
    }
    
    #atributtes > button > img {
        width: 100%;
        object-fit: cover;
        padding: 10px;
    }
    
    
    #backButton {
        position: absolute;
        left: 30px;
        top: 1em;
        font-family: var(--rtc--font-family-2);
        font-size: 14px;
        padding: 14px 26px;
        
    }
    
    .backToGameButton {
        position: absolute;
        right: 30px;
        top: 1em;
        font-family: var(--rtc--font-family-2);
        font-size: 14px;
        padding: 14px 26px;
       
    }  
    .divWinner > img {
        width: 20%;
        padding: 10px 10px 20px;
    }

    .divWinnerParagraph {
        font-size: 16px;
        padding: 20px 10px 10px;
    }

    #intentos {
        top: 2em;
        font-size: 14px;
        padding: 10px 16px;
    }
  
      
}
  
  
  
@media screen and (min-width:1280px) and (max-width:1439px) {
  
    #guessWhoDiv {
        width: 95%;
        top: 5.5em;
        padding: 5px 5px 10px;
    }

    .people {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 5px 5px 0px;
    }

    .people > div {
        width: 80px;
    }

    .people > div > img {
        width: 100%;
    }

    #atributtes {
        width: 98%;
        padding: 10px 5px 20px 5px;
    }

    #atributtes > button {
        width: 50px;
        height: 50px;
    }

    #backButton {
        position: absolute;
        left: 40px;
        top: 0em;
        font-size: 16px;
        padding: 12px 20px;
      
    }

    .backToGameButton {
        position: absolute;
        right: 40px;
        top: 0em;
        font-size: 16px;
        padding: 12px 20px;
       
    }

    #divWinner > img {
        width: 10%;
        padding: 10px 10px 20px;
    }

    .divWinnerParagraph {
        font-size: 18px;
        padding: 20px 10px 10px;
    }

  
}





  
  

  
  


  

