
#guessWhoDiv {
    width: 90%;
    height: auto;
    position: absolute;
    top: 7em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding: 20px;
    background-color: rgb(242, 223, 226);
    
}

#atributtes {
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px;
    background-color: rgb(246, 147, 162);
}

#facialButton {
    border-radius: 10px;
    width: 60px;
    height: 60px;
    border: none;
    background-color: white;
    box-shadow: 9px 7px 5px 3px rgb(134, 79, 87);

}

#facialButton > img {
    width: 100%;
    object-fit: cover;
    padding: 10px;
}

#characterDiv {
    width: auto;
    
}

#characterDiv > img {
    width: 100%;
    object-fit: contain;
}


@media screen and (max-width: 480px) {

  }
  
  
  @media screen and (min-width: 481px) and (max-width:768px){
  
  
  }
  
  
  
  @media screen and (min-width: 769px) and (max-width:1023px){
  
  
    
  
  }
  
  @media screen and (min-width:1024px) and (max-width:1279px) {
  
   
  
      
  }
  
  
  
  @media screen and (min-width:1280px) and (max-width:1439px) {
  
    #guessWhoDiv {
        width: 70%;
        position: absolute;
        top: 12em;
        
    }
  
   
  
  }