#ahorcadoDiv {
    width: 95%;
    position: absolute;
    top: 6em;
    padding: 20px;
    display: grid;
    grid-template-columns: 35% 65%; 
    grid-template-rows: 380px 280px;
}

#ahorcadoTimer {
    display: flex;
    justify-content: center;
    padding: 20px;
    grid-column: 1/2;
    background-color: pink;
}

#canvas {
    display: flex;
    align-self: center;
    width: 140px;
    height: 220px;
    background-color: "none";
}


#wordContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    grid-column: 2/3;
    background-color: rgb(246, 124, 144);
}  

#uniqueLetter {
    width: 50px;
    font-family: var(--rtc--font-family-3);
    font-size: 50px;
    
}

/*
.visible {
   visibility: visible;
}

.hidden {
   visibility: hidden; 
}
*/


#ahorcadoTeclado {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 18px;
    padding: 50px;
    grid-row: 2/3;
    grid-column: 1/3;
    background-color: aquamarine;
}

.letterButton {
    width: 60px;
    height: 60px;
    padding: 20px;
    font-size: 20px;
    border-radius: 4px;
}

.letterButton:hover {
    cursor: pointer;
    color: white;
    background-color: grey;
}

 



@media screen and (max-width: 480px) { 

    #ahorcadoDiv {
        top: 3em;
        padding: 10px;
        display: grid;
        grid-template-columns: 95%; 
        grid-template-rows: 150px 80px 290px;
    }

    #ahorcadoTimer {
        display: flex;
        justify-content: center;
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #canvas {
        display: flex;
        align-self: center;
        width: 80px;
        height: 110px;
    }

    #wordContainer {
        grid-column: 1/3;
        grid-row: 2/3;
    } 

    #uniqueLetter {
        width: 20px;
        font-family: var(--rtc--font-family-3);
        font-size: 25px;
        
    }

    #ahorcadoTeclado {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        grid-column: 1/3;
        grid-row: 3/4; 
        gap: 12px; 
        padding: 25px;
    }
    
    .letterButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        padding: 12px;
        font-size: 20px;
    }
    
    
} 
  
@media screen and (min-width: 481px) and (max-width:768px){

    #ahorcadoDiv {
        top: 5em;
        grid-template-columns: 95%; 
        grid-template-rows: 200px 100px 250px;
    }

    #ahorcadoTimer {
        display: flex;
        justify-content: center;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #canvas {
        display: flex;
        align-self: center;
        width: 100px;
        height: 160px;
    }

    #wordContainer {
        grid-column: 1/3;
        grid-row: 2/3;
    } 

    #uniqueLetter {
        width: 20px;
        font-size: 28px;
        
    }

    #ahorcadoTeclado {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        grid-column: 1/3;
        grid-row: 3/4; 
        gap: 10px; 
        padding: 33px;
    }
    
    .letterButton {
        width: 40px;
        height: 40px;
        padding: 10px;
        font-size: 18px;
    }
}
  
@media screen and (min-width: 769px) and (max-width:1023px) {  

    #ahorcadoDiv {
        position: absolute;
        top: 6em;
        padding: 20px;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 280px;
    }
    
    #ahorcadoTimer {
        display: flex;
        justify-content: center;
        padding: 10px;
        grid-column: 1/2;
        background-color: pink;
    }
    
    #canvas {
        display: flex;
        align-self: center;
        width: 120px;
        height: 180px;
        background-color: "none";
    }
    
    
    #wordContainer {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 10px;
        grid-column: 2/3;
        background-color: rgb(246, 124, 144);
    }  
    
    #uniqueLetter {
        width: 30px;
        font-size: 32px;
    }
    
    
    #ahorcadoTeclado {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        padding: 33px;
        grid-row: 2/3;
        grid-column: 1/3;
        background-color: aquamarine;
    }
    
    .letterButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        padding: 20px;
        font-size: 22px;
    }
}


  
@media screen and (min-width:1024px) and (max-width:1279px) { 

    #ahorcadoDiv {
        position: absolute;
        top: 5em;
        padding: 20px;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 200px 180px;
    }
    
    #ahorcadoTimer {
        display: flex;
        justify-content: center;
        padding: 10px;
        grid-column: 1/2;
        background-color: pink;
    }
    
    #canvas {
        display: flex;
        align-self: center;
        width: 140px;
        height: 200px;
       
    }
    
    
    #wordContainer {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 10px;
        grid-column: 2/3;
    }  
    
    #uniqueLetter {
        width: 40px;
        font-size: 40px;
    }
    
    
    #ahorcadoTeclado {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 22px;
        padding: 40px;
        grid-row: 2/3;
        grid-column: 1/3;
        
    }
    
    .letterButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        padding: 20px;
        font-size: 28px;
    }
}
  
@media screen and (min-width:1280px) { 

    #ahorcadoDiv {
        grid-template-rows: 200px 180px;
    }
    
    #ahorcadoTimer {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
    #canvas {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 100px;
        height: 160px;
    }

    
    #ahorcadoTeclado {
        gap: 12px;
        padding: 20px;
    }
    
    .letterButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        padding: 20px;
        font-size: 25px;
    }
    
}