#ahorcadoDiv {
    width: 90%;
    height: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 35% 65%; 
    grid-template-rows: 250px 250px;
}

#ahorcadoTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    grid-column: 1/2;
    background-color: var(--rtc--color-5);
}

#canvas {
    display: flex;
    align-self: center;
    width: 140px;
    height: 220px;
    padding: 20px;
}


#wordContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    grid-column: 2/3;
    background-color: var(--rtc--color-6);
}  

#uniqueLetter {
    padding: 20px;
    font-family: var(--rtc--font-family-3);
    font-size: 50px;
    color: var(--rtc--color-almostBlack);
}

#ahorcadoTeclado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    grid-row: 2/3;
    grid-column: 1/3;
    background-color: var(--rtc--color-4);
}

.letterButton {
    width: 50px;
    height: 50px;
    padding: 16px;
    font-size: 16px;
    border-radius: 4px;
}

.letterButton:hover {
    cursor: pointer;
    color: white;
    background-color: grey;
}

.giphy-embed {
    width: auto;
    height: auto;
}



@media screen and (max-width: 480px) { 

    #ahorcadoDiv {
        width: 95%;
        top: 3em;
        padding: 10px;
        display: grid;
        grid-template-rows: 150px 80px auto;
    }

    #ahorcadoTimer {
        display: flex;
        justify-content: center;
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #canvas {
        display: flex;
        align-self: center;
        width: 80px;
        height: 110px;
    }

    #wordContainer {
        padding: 10px;
        grid-column: 1/3;
        grid-row: 2/3;
    } 

    #uniqueLetter {
        padding: 5px;
        font-family: var(--rtc--font-family-3);
        font-size: 18px;
        
    }

    #ahorcadoTeclado {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        grid-column: 1/3;
        grid-row: 3/4; 
        gap: 12px; 
        padding: 12px;
    }
    
    .letterButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        padding: 12px;
        font-size: 20px;
    }
    
    
} 
  
@media screen and (min-width: 481px) and (max-width:768px){

    #ahorcadoDiv {
        top: 4em;
        grid-template-columns: 95%; 
        grid-template-rows: 200px 100px auto;
    }

    #ahorcadoTimer {
        display: flex;
        justify-content: center;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #canvas {
        display: flex;
        align-self: center;
        width: 100px;
        height: 160px;
    }

    #wordContainer {
        grid-column: 1/3;
        grid-row: 2/3;
    } 

    #uniqueLetter {
        padding: 10px;
        font-size: 28px;
        
    }

    #ahorcadoTeclado {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        grid-column: 1/3;
        grid-row: 3/4; 
        gap: 10px; 
        padding: 33px;
    }
    
    .letterButton {
        width: 40px;
        height: 40px;
        padding: 10px;
        font-size: 18px;
    }
}
  
@media screen and (min-width: 769px) and (max-width:1023px) {  

    #ahorcadoDiv {
        width: 90%;
        height: auto;
        padding: 20px;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 240px auto;
    }
    
    #ahorcadoTimer {
        display: flex;
        justify-content: center;
        padding: 10px;
        grid-column: 1/2;
    }
    
    #canvas {
        display: flex;
        align-self: center;
        width: 120px;
        height: 180px;
    }
    
    
    #wordContainer {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 10px;
        grid-column: 2/3;
    }  
    
    #uniqueLetter {
        padding: 15px;
        font-size: 32px;
    }
    
    
    #ahorcadoTeclado {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 22px;
        padding: 28px;
        grid-row: 2/3;
        grid-column: 1/3;
        
    }
    
    .letterButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        padding: 20px;
        font-size: 22px;
    }
}

 
@media screen and (min-width:1024px) and (max-width:1279px) { 

    #ahorcadoDiv {
        grid-template-rows: 320px auto;
    }
    
    #ahorcadoTimer {
        display: flex;
        justify-content: center;
        padding: 10px;
        grid-column: 1/2;
    }
    
    #canvas {
        display: flex;
        align-self: center;
        width: 140px;
        height: 200px;
       
    }
    
    
    #wordContainer {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 10px;
        grid-column: 2/3;
    }  
    
    #uniqueLetter {
        padding: 20px;
        font-size: 40px;
    }
    
    
    #ahorcadoTeclado {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 22px;
        padding: 40px;
        grid-row: 2/3;
        grid-column: 1/3;
        
    }
    
    .letterButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        padding: 15px;
        font-size: 28px;
    }
}
  

@media screen and (min-width:1280px) and (max-width:1439px)  { 

    #ahorcadoDiv {
        top: 2.5em;
        grid-template-rows: 320px auto;
    }
    
    #ahorcadoTimer {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
    #canvas {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 140px;
        height: 190px;
    }

    
    #ahorcadoTeclado {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding: 20px;
    }
    
    .letterButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        padding: 20px;
        font-size: 25px;
    }
    
}


@media screen and (min-width:1440px) and (max-width:1919px)  {

}