
#guessWhoDiv {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--rtc--color-softPink);
}

.people {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 20px 10px 20px;
    background-color: var(--rtc--color-softPink);
}

.people > div {
    min-width: 0;  
    width: 100px;
    height: auto;
}

.people > div:hover {
    cursor: pointer;
}

#atributtes {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 15px 20px;
    background-color: var(--rtc--color-3);
    margin-bottom: 20px;
}

#atributtes > button {
    border-radius: 10px;
    width: 70px;
    height: 70px;
    border: none;
    background-color: white;
    box-shadow: 9px 7px 5px 3px rgb(134, 79, 87);

}

#atributtes > button > img {
    width: 100%;
    object-fit: cover;
    padding: 5px;
}

#atributtes > button:hover {
    cursor: pointer;
}

#guessWhoDiv.divNodoWarning, #guessWhoDiv.divNodoWarning {
    width: 100%;
    padding: 20px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.imgNodo {
    width: 140px;
    height: auto;
}


.divNodoWarningParagraph {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: var(--rtc--font-family-2);
    font-size: 18px;
    padding: 10px;
}

#backButton {
    width: auto;
    position: absolute;
    top: 3em;
    left: 120px;
    font-family: var(--rtc--font-family-2);
    font-size: 18px;
    padding: 18px 30px;
    border-radius: 10px;
    border: none;

}

.backToGameButton {
    width: auto;
    position: absolute;
    top: 3em;
    right: 120px;
    font-family: var(--rtc--font-family-2);
    font-size: 18px;
    padding: 18px 30px;
    border-radius: 10px;
    border: none;
}

#backButton:hover, .backToGameButton:hover {
    cursor: pointer;
}

#intentos {
    position: absolute;
    top: 3em;
    right: 300px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: var(--rtc--font-family-3);
    padding: 8px 18px;
    background-color: transparent;
    color: white;
    border: none;
}

#warnings {
    position: absolute;
    top: 6em;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: transparent;
    z-index: 10;
}

.message {
    background-color: rgb(143, 143, 231);
    font-family: var(--rtc--font-family-3);
    color: black;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 8px 18px;
    border-radius: 10px;
    border: none;
}





@media screen and (max-width: 480px) {

    .people {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
        padding: 10px;
        background-color: var(--rtc--color-softPink);
    }

    
    .people > div {
        width: 50px;
        height: auto;
    }

    .people > div > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



    #atributtes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: auto;
        padding: 8px;
        gap: 8px;
    }

    #atributtes > button {
        width: 30px;
        height: 30px;
        box-shadow:  3px 5px 3px rgb(134, 79, 87)
    }

    #atributtes > button > img {
        width: 100%;
        height: 100%;
        padding: 3px;
        object-fit: contain;
    }
   

    #backButton {
        font-size: 8px;
        left: 10px;
        position: absolute;
        padding: 5px 8px;
        top: 3em;
    }

    .backToGameButton {
        font-size: 8px;
        position: absolute;
        right: 10px;
        top: 3em;
        padding: 5px 8px;
    }


    #intentos {
        position: absolute;
        top: 6.5em;
        right: 10px;
        font-size: 9px;
        padding: 5px;
    }

    #warnings {
        top: 3.5em;
        display: flex;
        justify-content: start;
        padding-left: 5px;
    }
    
    .message {
        font-size: 8px;
        letter-spacing: 2px;
        padding: 5px 8px;
    }

}
  
  
@media screen and (min-width: 481px) and (max-width:768px){

    .people {
        width: 97%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
        padding: 5px;
    }

    
    .people > div { 
        width: 70px;
        height: auto;
    }

    .people > div > img { 
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #atributtes {
        width: 97%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        padding: 10px 10px 15px;
        margin-bottom: 10px;
    }

    #atributtes > button {
        width: 40px;
        height: 40px;
        box-shadow: 7px 5px 5px 3px rgb(134, 79, 87);
    }
   

    #backButton {
        font-size: 12px;
        position: absolute;
        top: 2.5em;
        left: 1em;
        padding: 8px 6px;
    }

    .backToGameButton {
        position: absolute;
        right: 1em;
        top: 2.5em;
        font-size: 12px;
        padding: 8px 6px;
    }

    #intentos {
        position: absolute;
        top: 6em;
        right: 0px;
        font-size: 10px;
        padding: 10px 16px;
    }

    #warnings {
        top: 4em;
    }
    
    .message {
        font-size: 8px;
        letter-spacing: 2px;
        padding: 5px 10px;
    }

  
}
  
  
@media screen and (min-width: 769px) and (max-width:1023px){

    .people {
        width: 95%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
    }

    
    .people > div { 
        width: 70px;
        height: auto;
    }

    .people > div > img { 
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    #atributtes {
        width: 95%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        padding: 20px;
        margin-bottom: 20px;
    }

    #atributtes > button {
        width: 55px;
        height: 55px;
        box-shadow: 6px 4px 5px 3px rgb(134, 79, 87);
    }
   

    #backButton {
        font-size: 12px;
        position: absolute;
        padding: 12px;
        top: 2em;
        left: 25px;
    }

    .backToGameButton {
        position: absolute;
        right: 25px;
        top: 2em;
        font-size: 12px;
        padding: 12px;  
    }

    #intentos {
        position: absolute;
        top: 2.5em;
        right: 110px;
        font-size: 12px;
        padding: 10px 16px;
    }

    #warnings {
        top: 4.5em;
    }
    
    .message {
        font-size: 12px;
        letter-spacing: 2px;
        padding: 5px 10px;
    }
  
}
  
  
@media screen and (min-width:1024px) and (max-width:1279px) {

    .people {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
    }

    .people > div {
        width: 85px;  
        height: auto;
    }

    .people > div > img {
        width: 100%;  
        height: 100%;
        object-fit: cover;
    }
    
    #atributtes {
        width: 95%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        padding: 10px 5px 20px 5px;
        margin-bottom: 20px; 
    }
    
    #atributtes > button {
        width: 55px;
        height: 55px;
    }
    
    #atributtes > button > img {
        width: 100%;
        object-fit: cover;
        padding: 10px;
    }
    
    
    #backButton {
        position: absolute;
        left: 30px;
        top: 2em;
        font-size: 14px;
        padding: 12px;
        
    }
    
    .backToGameButton {
        position: absolute;
        right: 30px;
        top: 2em;
        font-size: 14px;
        padding: 10px 12px;
       
    }  
 
    #intentos {
        position: absolute;
        top: 2.5em;
        right: 150px;
        font-size: 14px;
        padding: 10px 16px;
    }


    #warnings {
        top: 5em;
    }
    
    .message {
        font-size: 12px;
        letter-spacing: 2px;
        padding: 5px 10px;
    }
    
}
  
  
  
@media screen and (min-width:1280px) and (max-width:1439px) {

    .people {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        gap: 5px;
    }

    .people > div {
        width: 90px;
        height: auto;
    }

    .people > div > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    #atributtes {
        width: 98%;
        padding: 10px 5px 20px 5px;
        margin-bottom: 20px;
    }

    #atributtes > button {
        width: 50px;
        height: 50px;
    }

    #backButton {
        position: absolute;
        left: 35px;
        top: 2em;
        font-size: 14px;
        padding: 10px 12px;
      
    }

    .backToGameButton {
        position: absolute;
        right: 35px;
        top: 2em;
        font-size: 14px;
        padding: 10px 12px;
       
    }

    #intentos {
        position: absolute;
        top: 2em;
        right: 200px;
        font-size: 16px;
        padding: 10px 16px;
    }

    #warnings {
        top: 5em;
    }
    
    .message {
        font-size: 12px;
        letter-spacing: 2px;
        padding: 5px 10px;
    }
}



@media screen and (min-width:1440px) and (max-width:1919px) {
    
    .people {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
    }

    .people > div {
        width: 100px;  
        height: auto;
    }

    .people > div > img {
        width: 100%;  
        height: 100%;
        object-fit: cover;
    }
    
    
    #atributtes {
        width: 95%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        padding: 10px 15px 20px;
        background-color: var(--rtc--color-3);
        margin-bottom: 20px;
    }
    
    #atributtes > button {
        border-radius: 10px;
        width: 70px;
        height: 70px;
        border: none;
        background-color: white;
        box-shadow: 9px 7px 5px 3px rgb(134, 79, 87);
    
    }
    
    #atributtes > button > img {
        width: 100%;
        object-fit: cover;
        padding: 10px;
    }
    
    #atributtes > button:hover {
        cursor: pointer;
    }
    

    #backButton {
        position: absolute;
        left: 38px;
        top: 3em;
        font-family: var(--rtc--font-family-2);
        font-size: 18px;
        padding: 12px 26px;
        border-radius: 10px;
        border: none;
    }
    
    .backToGameButton {
        position: absolute;
        right: 38px;
        top: 3em;
        font-family: var(--rtc--font-family-2);
        font-size: 18px;
        padding: 12px 26px;
        border-radius: 10px;
        border: none;
    }
    
    #backButton:hover, .backToGameButton:hover {
        cursor: pointer;
    }
    
    #intentos {
        position: absolute;
        top: 4em;
        right: 200px;
        font-size: 16px;
        padding: 10px 16px;
    }

    #warnings {
        top: 5em;
    }
    
    .message {
        font-size: 16px;
        letter-spacing: 2px;
        padding: 5px 10px;
    }
    
}
    


  
  

  
  


  

